.menu{
    border-top: 0.5px solid rgb(73, 73, 73);
    border-bottom: 0.5px solid rgb(88, 88, 88); 
}
.menu button{
    color: black;
    font-size: 20px;
    font-family: "Sofia", sans-serif;
}
.menu button:hover{
    background-color: rgb(5, 131, 125);
    width: 100%;
    color: aliceblue;
}
.setting{
    color: black;
    font-size: 20px;
    font-family: "Sofia", sans-serif;   
}


.active  {
    background-color: rgb(28, 131, 134) !important;
    padding: 1rem;
    text-align: left;
    
    a {
        color: #fff !important;

    }
}
