
.header-sidenav-content {
    
    background-color: rgb(28, 131, 134);
    /* Green background */
    color: white;
    /* White text color */
    padding: 15px;
    /* Padding for spacing */
    display: flex;
    /* Flexbox for alignment */
    align-items: center;
    /* Center items vertically */
    justify-content: space-between;
    /* Space between button and content */
}
.menu-sidenav{
    width: 200px;
    left: 5px;
    
}
.logo{
    color: bisque;
    display: flex;
    position: relative;
    height: 70px;
    top: 10px;
}
.logo h1{
    position: absolute;
    font-size: 20px;
    top: 3px;
    left: 100px;
    color: rgb(28, 131, 134);
    font-family:Fantasy;
}
.logo img{
    top: 2px;
}

.menu-sidenav {
    border-right: 0.5px solid rgb(73, 73, 73);
    border-radius: 0px;
}
.content-area {
    margin-top: 5px;
    /* Leave space for the header */
    padding: 20px;
    /* Padding for content */
    height: calc(100% - 60px);
    /* Full height minus header height */
    overflow-y: auto;
    /* Scroll if content overflows */
}

    