<div class="home">
    <mat-card style="width: 300px; height: 350px ;" class="example-card" appearance="outlined">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dashboard</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="https://cdn.vectorstock.com/i/500p/04/30/application-pc-and-smartphone-with-business-vector-29570430.jpg"
            alt="Photo of a Shiba Inu" width="100%" height="100%">
        <mat-card-content>
            <p>

            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Click here</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card style="width: 300px; height: 350px; margin-left: 30px;" class="example-card" appearance="outlined">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="https://previews.123rf.com/images/sph1410/sph14101504/sph1410150400170/38850885-category-colorful-word-on-the-wooden-background.jpg"
            alt="Photo of a Shiba Inu" width="100%" height="100%">
        <mat-card-content>
            <p>

            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Click here</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card style="width: 300px; height: 350px; margin-left: 30px;" class="example-card" appearance="outlined">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="https://img.freepik.com/free-vector/vegetables-realistic-frame-composition-with-empty-wooden-background-surrounded-by-isolated-images-vegetable-pieces-slices-vector-illustration_1284-83069.jpg"
            alt="Photo of a Shiba Inu" width="100%" height="100%">
        <mat-card-content>
            <p>

            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Click here</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card style="width: 300px; height: 350px; margin-left: 30px;" class="example-card" appearance="outlined">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://wallpapers.com/images/hd/stock-market-background-srs41843ad59haq2.jpg"
            alt="Photo of a Shiba Inu" width="100%" height="100%">
        <mat-card-content>
            <p>

            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Click here</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card style="width: 300px; height: 350px; margin-left: 30px;" class="example-card" appearance="outlined">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="https://thumbs.dreamstime.com/b/settings-icon-abstract-blue-background-illustration-digital-texture-design-concept-dark-grunge-elegant-paint-modern-162449292.jpg"
            alt="Photo of a Shiba Inu" width="100%" height="100%">
        <mat-card-content>
            <p>

            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Click Here</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>

</div>